/**
 * @file
 * Styles for uc_product module.
 */
.product-image {
  clear: right;
  float: right;
  margin-left: 4px;
  margin-right:40px;
  padding-left: 4px;
  padding-top: 4px;
  text-align: center;
  border:1px solid #999999;
}

.display-price {
  clear: right;
  float: right;
  margin-right:40px;
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 4px;
  padding-left: 4px;
  text-align: center;
}

.model {
  display: inline;
  font-weight: bold;
  margin-right: 2em;
}

#products-selector table {
  margin: 0em 0em;
}

#products-selector td {
  padding: 0em .5em;
}

div#products-selector form {
  margin-bottom: 0em;
}

#products-selector div.form-item {
  margin-bottom: .5em;
  margin-top: .5em;
}

table.product-list {
  clear: both;
}

.uc-product-features td {
  vertical-align: top;
}

.add-feature div {
  padding-right: 1em;
}

.add-feature div,
.add-feature label {
  display: inline;
}
