/* ================================================================ 

This copyright notice must be kept untouched in the stylesheet at 

all times.



The original version of this stylesheet and the associated (x)html

is available at http://www.stunicholls.com/menu/pro_drop_2.html

Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.

This stylesheet and the associated (x)html may be modified in any 

way to fit your requirements.

=================================================================== */



#menu-wrapper{

	width:950px;
	margin:0px auto;
	height:35px;
	background:none;
}

.preload1 {background: url(images/three_1.gif);}
.preload2 {background: url(images/three_1a.gif);}

#nav {
	padding:0; 
	margin:0; 
	list-style:none; 
	/*margin:0px auto;*/
	height:35px; 
	background:#fff url(images/three_0.gif) repeat-x; 
	position:relative; 
	z-index:500;
	font-family:arial, verdana, sans-serif;
	/*border:1px solid #FF0000;*/
}

#nav li.top {
	display:block; 
	float:left; 
	height:35px;
}

#nav li a.top_link {
	display:block; 
	float:left; 
	height:35px; 
	line-height:34px; 
	margin:-0.18em 0em 0em -0.6em;
	color:#ccc; 
	text-decoration:none; 
	font-size:11px; 
	font-weight:bold; 
	padding-left:0em;
	cursor:pointer;
	background: url(images/three_0.gif);
	/*border:1px solid #FFFF00;*/
}

#nav li a.top_link span {
	float:left; 
	display:block; 
	padding:0px 20px 0px 18px; 
	height:35px; 
	background:url(images/three_0.gif) right top no-repeat;
}

#nav li a.top_link span.down {
	float:left; 
	display:block; 
	padding:0px 20px 0px 18px; 
	height:35px; 
	background: url(images/three_0a.gif) no-repeat right top;
}

#nav li:hover a.top_link {
	color:#fff; 
	background: url(images/three_1.gif) no-repeat;
}

#nav li:hover a.top_link span {
	background:url(images/three_1.gif) no-repeat right top;
}

#nav li:hover a.top_link span.down {
	background:url(images/three_1a.gif) no-repeat right top;
}



/* Default list styling */

#nav li:hover {
	position:relative;
	z-index:200;
}

#nav li:hover ul.sub{
	left:1px; 
	top:35px; 
	background:#2F6295;
	padding:0px; 
	border:1px solid #5c731e; 
	white-space:nowrap; 
	width:127px; 
	height:auto; 
	z-index:300;
}

#nav li:hover ul.sub li{
	display:block; 
	height:20px; 
	position:relative; 
	float:left; 
	width:120px; 
	font-weight:normal;
}

#nav li:hover ul.sub li a{
	display:block; 
	font-size:11px; 
	height:18px; 
	width:120px; 
	line-height:18px; 
	text-indent:5px; 
	color:#FFF; 
	text-decoration:none;
	/*border:1px solid #bbd37e;*/
}

#nav li ul.sub li a.fly{
	background:#2F6295 url(images/arrow.gif) 100px 6px no-repeat;
}

#nav li:hover ul.sub li a:hover{
	background:#82a9c5; 
	color:#fff; 
	/*border-color:#fff;*/
}

#nav li:hover ul.sub li a.fly:hover{
	background:#82a9c5 url(images/arrow_over.gif) 100px 6px no-repeat; 
	color:#fff;
}

#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul{
	left:120px; 
	top:-4px; 
	background:#2F6295;
	padding:3px; 
	border:1px solid #5c731e; 
	white-space:nowrap; 
	width:130px; 
	z-index:400; 
	height:auto;
}

#nav ul, 
#nav li:hover ul ul,
#nav li:hover li:hover ul ul,
#nav li:hover li:hover li:hover ul ul,
#nav li:hover li:hover li:hover li:hover ul ul{
	position:absolute;
	left:-9999px; 
	top:-9999px; 
	width:0; 
	height:0; 
	margin:0; 
	padding:0; 
	list-style:none;
}

#nav li:hover li:hover a.fly,

#nav li:hover li:hover li:hover a.fly,

#nav li:hover li:hover li:hover li:hover a.fly,

#nav li:hover li:hover li:hover li:hover li:hover a.fly{

	background:#2F6295 url(images/arrow_over.gif) 100px 6px no-repeat; 

	color:#fff; 

	border-color:#fff;} 



#nav li:hover li:hover li a.fly,

#nav li:hover li:hover li:hover li a.fly,

#nav li:hover li:hover li:hover li:hover li a.fly

{background:#2F6295 url(images/arrow.gif) 80px 6px no-repeat; color:#fff; border-color:#bbd37e;} 