/* $Id: style.css,v 1.44.2.16 2011/01/06 09:45:33 danprobo Exp $ */

/* Body
-------------------------------------------------------------- */

body {
background:url(images/body-bg.gif) repeat-x #333;
font-size: 84%;
font-family: Arial, Helvetica, sans-serif;
color: #000;
margin: 0;
padding: 0;
line-height: 1.5em;
}

/* Text elements
-------------------------------------------------------------- */

#page-title{
	/*background:none;*/
	background:url(http://micro-identification.mozwyre.com/sites/all/themes/danland/images/title-bg.png) 0 0 repeat-x;
	height:auto;
	padding-top:20px;
	padding-bottom:10px;
	padding-left:15px;
	font-size:24px;
}
#rss-container{
	width:auto;
	height:auto;
	float:left;
	margin:63px 0px 0px 7px;
}

tr.odd td, tr.even td {
padding: 0.5em;
}

a {
text-decoration: none;
}

a:link {
color: #005a8c;/*#e87e17*/
text-decoration: none;
}

a:visited {
color: #005a8c;/*#e87e17*/
text-decoration: none;
}

a:hover {
color:#cc6600;
}

blockquote {
background: url(images/bq-tl.gif) no-repeat left top;
padding-left: 30px;
margin-left: 10px;
font-style:italic;
}

blockquote p {
background: url(images/bq-br.gif) no-repeat right bottom;
}

cite {
background: url(images/bq-tl.gif) no-repeat left top;
clear: both;
display: block;
font-style: italic;
padding-left: 30px;
margin-left: 10px;
}

code, tt, pre {
background-color:#EDF1F3;
font-family:"Bitstream Vera Sans Mono",Monaco,"Lucida Console",monospace;
font-size:0.9em;
line-height:1.2em;
}

/* Headings
-------------------------------------------------------------- */

h1 {
font-size: 1.6em;
}

h2 {
font-size: 1.5em;
color:#ff6600;  
text-align:center;
}

h3 {
font-size: 1.3em;
}

h4 {
font-size: 1.2em;
}

h5 {
font-size: 1.1em;
}

h6 {
font-size: 1em;
}

h1,h2,h3,h4,h5,h6 {
padding:0;
margin:0;
}

/* Header regions
-------------------------------------------------------------- */

#skip-link {
left: 50%;
margin-left: -5.25em;
margin-top: 0;
position: absolute;
width: auto !important;
z-index: 50;
}

#skip-link a, #skip-link a:link, #skip-link a:visited {
display: block;
position: absolute;
text-decoration: none;
top: -10000px;
width: 1px;
height: 1px;
}

#header {
height: 120px;
position: relative;
width: 950px;
margin: 0 auto;
background:url(images/header-bg.jpg) repeat-x;
}

#logo{
	width:665px;
	height:100px;
	float:left;
	margin-left:7px;
	/*border:1px solid #FFFF00;*/
}

#branding-wrapper {
float: left;
margin-top: 25px;
}

.site-name {
display: inline; 
font-weight: bold;
font-size: 25px;
margin-left: 15px;
position: relative;
font-family: Verdana, Tahoma;
font-style: italic;
}

.site-slogan {
display: inline;                       
font-weight: bold;
position: relative;
margin-left: 10px;
font-family: Verdana, Tahoma;
}

#header-wrapper #search-box {
margin: 4px 14px;
position: absolute;
right: 0;
top: 82px;
white-space: nowrap;
}

#header-wrapper #search-box input.form-text {
width: 10em;
}

/* Primary menu + Superfish
-------------------------------------------------------------- */

/*#menu {
height: 35px;
background:url(images/menu-bg.png) repeat-x;
width:952px;
margin: 0 auto;
}

#nav {
height: 35px;
background:url(images/menu-bg.png) repeat-x;
float:left;
}

#nav li {
float:left;
background:url(images/menu-separator.png) no-repeat right top;
height:35px;
padding:0 1px 0 0;
}

#nav li a{
color:#fff;
text-decoration:none;
font-size:12px;
padding:7px 29px 0 29px;
display:inline-block;
font-weight:bold;
height:25px;
text-transform:uppercase;
}

#nav li a:hover {
background:transparent url(images/menu-hover-bg.png) repeat-x;
}

#nav li.active-trail a {
background:transparent url(images/menu-hover-bg.png) repeat-x;
}

#rounded-menu-left {
height: 35px;
background:transparent url(images/menu-left-bg.png) no-repeat;
float:left;
width:1px;
line-height:0;
font-size:0;
}

#rounded-menu-right {
height: 35px;
background:url(images/menu-right-bg.png)  0 0 no-repeat;
float:right;
width:14px;
line-height:0;
font-size:0;
}

#nav ul, #nav ul li.leaf {
list-style-image:none;
list-style:none;
}

#nav ul, #nav .block ul, #nav ol {
margin:0;
padding:0;
}*/

/* Superfish
-------------------------------------------------------------- */

/*#superfish {
height:35px; 
float:left;
}

#superfish .contextual-links-region {
float: left;
z-index:6;
}

#superfish h2 {
height: 0;
overflow: hidden;
position: absolute;
}

#superfish .menu, #superfish .menu * {
margin:0;
padding:0;
list-style:none;
}

#superfish .menu {
line-height:1.0;
}

#superfish .menu ul {
position:absolute;
top:-999em;
width:13em;
}

#superfish .menu ul li {
width:100%;
}

#superfish .menu li:hover {
visibility:inherit;
}

#superfish .menu li {
float:left;
position:relative;
}

#superfish .menu a {
display:block;
position:relative;
}

#superfish .menu li:hover ul,
#superfish .menu li.sfHover ul {
left:0;
top:32px;
z-index:99;
}

#superfish ul.menu li:hover li ul,
#superfish ul.menu li.sfHover li ul {
top:-999em;
}

#superfish ul.menu li li:hover ul,
#superfish ul.menu li li.sfHover ul {
left:13em;
top:0;
}

#superfish ul.menu li li:hover li ul,
#superfish ul.menu li li.sfHover li ul {
top:-999em;
}

#superfish ul.menu li li li:hover ul,
#superfish ul.menu li li li.sfHover ul {
left:13em;
top:0;
}

#superfish .menu {
float:left;
margin-bottom:1em;
}

#superfish .menu a {
padding:.75em 1em;
text-decoration:none;
}

#superfish .menu a.sf-with-ul {
padding-right:2.25em;
min-width:1px;
}

#superfish .menu a, #superfish .menu a:visited  {
color:#fff;
text-decoration:none;
font-size:12px;
font-weight:bold;
text-transform:uppercase;
padding-right:30px;
padding-left:30px;
padding-top:11px;
}

#superfish .menu li {
background: transparent;
}

#superfish .menu li li {
background: #3b6999;
}

#superfish .menu li li li {
background: #3b6999;
top: 0px;
}

#superfish .menu li:hover, #superfish .menu li.sfHover,
#superfish .menu a:focus, #superfish .menu a:hover, #superfish .menu a:active {
outline:0;
}

#superfish .menu li:hover, 
#superfish .menu li.sfHover,
#superfish .menu a:focus, 
#superfish .menu a:hover, 
#superfish .menu a:active {
z-index:10;
}

#superfish .menu li:hover {
background:transparent url(images/menu-hover-bg.png) repeat-x;
}

#superfish .menu li.active-trail {
background:transparent url(images/menu-hover-bg.png) repeat-x;
}

#superfish .menu li.active-trail li {
background: #3b6999;
}

#superfish .menu li li:hover {
background: #3b6999;
}

#superfish .menu li li li:hover {
background: #3b6999;
}

.sf-sub-indicator {
position:absolute;
display:block;
right:.75em;
top:1.05em;
width:10px;
height:10px;
text-indent:-999em;
overflow:hidden;
background:url(images/arrows-ffffff.png) no-repeat -10px -100px;
}
a > .sf-sub-indicator { 
top:.8em;
background-position: 0 -100px;
}

a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
background-position: -10px -100px;
}

#superfish .menu ul .sf-sub-indicator { background-position:  -10px 0; }
#superfish .menu ul a > .sf-sub-indicator { background-position:  0 0; }
#superfish .menu ul a:focus > .sf-sub-indicator,
#superfish .menu ul a:hover > .sf-sub-indicator,
#superfish .menu ul a:active > .sf-sub-indicator,
#superfish .menu ul li:hover > a > .sf-sub-indicator,
#superfish .menu ul li.sfHover > a > .sf-sub-indicator {
background-position: -10px 0;
}

#superfish .sf-shadow ul {
background:	url(images/shadow.png) no-repeat bottom right;
padding: 0 8px 9px 0;
}

#superfish .sf-shadow ul.sf-shadow-off {
background: transparent;
}*/

/* slideshow + Preface top + Slideshow
-------------------------------------------------------------- */

/*----------Content Wrapper----------*/

#content-wrapper{
	width:950px;
	height:750px;
	margin:0px auto;
	background:#FFFFFF;
}


#slideshow-wrapper{
width:950px;
background-color:#d8d6d6;
height:420px;
margin:0 auto;
margin-bottom:-45px;
margin-top:0px;
}

.slideshow-inner{
width:950px;
margin:0 auto;
height:355px;
position:relative;
z-index:1;
overflow: hidden;

}

#slideshow-preface {
float:left;
position:absolute;
text-align:left;
z-index:4;
}

.slideshow {
width:950px;
height:355px;
position:relative;
z-index:2;
overflow: hidden;
}

/****Frontpage Video Panel****/

#video-txt-panel{
	width:950px;
	height:310px;
	margin:0px auto;
	margin-top:0px;
	background:url(images/wrapper-bg.gif) 0 0 repeat-x;
}

#video-container{
	width:480px;
	height:320px;
	float:left;
	margin:5px 0px 0px 20px;
	border:1px solid #999999;
}

#video-txt{
	width:403px;
	height:auto;
	float:left;
	margin:0px 0px 0px 10px;
	background:url(images/title-video-panel.png) 0 0 no-repeat;
}
.video-txt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.05em;
	color:#333333;
	text-align:left;
	line-height:20px;
	padding:5px 10px 0px 10px;
}

.video-txt h1{
	font-size:22px;
	color:#FF6600;
	font-weight:bold;
	margin:0px;
	line-height:24px;
}

.center-txt h2{ 
	font-size:14px;
	color:#FF6600;
	font-weight:bold;
	margin:0px;
}
.center-txt h3{ 
	font-size:14px;
	color:#003366;
	font-weight:bold;
	line-height:16px;
	margin:0px;
}

/****Frontpage Columns****/
#column-wrapper{
	width:950px;
	height:375px;
	margin:0px auto;
	background:#FFF;
	padding-bottom:15px;
}
#column-left{
	width:309px;
	height:350px;
	float:left;
	margin-top:10px;
	background:url(images/title-column-left.png) 0 0 no-repeat;
	border-right:1px solid #CCCCCC;
}
#column-center{
	width:329px;
	height:150px;
	float:left;
	margin-top:10px;
	background:url(images/title-column-center.png) 0 0 no-repeat;
}
#column-right{
	width:309px;
	height:350px;
	float:left;
	margin-top:10px;
	background:url(images/title-column-right.png) 0 0 no-repeat;
	border-left:1px solid #CCCCCC;
}
.column-txt{
	display:block;
}

.column-txt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	text-align:left;
	padding:0px 15px 0px 25px;
}
.column-txt h1{
	font-size:16px;
	font-weight:bold;
	color:#FF6600;
}
.column-txt h2{
	font-size:14px;
	font-weight:bold;
	color:#0066FF;
	text-align:left;
}

/****Inner Pages****/
.innerpage-txt{
	display:block;
	width:auto;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333333;
	text-align:left;
	line-height:18px;
	padding:0px 0px 0px 10px;
}

.innerpage-txt h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#ff6600;
	line-height:40px;
	padding-left:0px;
	/*margin:0px 0px 0px 0px;*/
}

.innerpage-txt h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#fe6601;
	margin:15px 0px 15px 0px;
	line-height:30px;
	padding-left:0px;
}

.innerpage-txt h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#333;
	margin:20px 0px 20px 0px;
	line-height:24px;
	padding-left:0px;
}

.innerpage-txt li{
	line-height:20px;
}
.innerpage-txt a{
	color:#0066FF;
	text-decoration:underline;
}
.innerpage-txt a:hover{
	color:#FF6600;
}
#innerpage-column-left{
	width:495px;
	height:auto;
	float:left;
	/*border:1px solid #FF0000;*/
}
#innerpage-column-right{
	width:145px;
	height:auto;
	float:right;
	/*border:1px solid #00FF00;*/
}

/****Innerpage Image****/
#innerpage-img{
	width:650px;
	height:250px;
	float:left;
	margin-bottom:15px;
	border:1px solid #cecece;
}
#innerpage-img-small-container{
	width:650px;
	height:150;
	float:left;
}
#innerpage-img-small{
	width:150px;
	height:150px;
	float:left;
	margin-left:50px;
	margin-bottom:20px;
	border:1px solid #cecece;
}

/****Staff Images****/
#staff-img{
 	width:130px;
	height:150px;
 	float:left;
	margin:10px 0px 10px 6px;
	border:1px solid #CCCCCC;
}
.staff-img-txt{
	display:block;
	width:100%;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333333;
	text-align:center;
	line-height:18px;
}

/****Media****/

#media-container{
	width:650px;
	height:600px;
	float:left;
	background:#EDF9FC;
	border:1px solid #999999;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
}
#media-youtube{
	width:300px;
	height:183px;
	float:left;
	margin:20px 0px 0px 15px;
	border:1px solid #999999;
}

/****News Ticker****/
#ticker-container{
	width:307px; 
	height:285px; 
	margin-top:65px;
}
.ticker {
	width: 307px;
	height: 285px;
	overflow: hidden;
	/*border: 1px solid #DDD;*/
	margin: 0;
	padding: 0;
	list-style: none;
	/*border-radius: 5px;
	box-shadow: 0px 0px 5px #DDD;*/
}
.ticker{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
}
.ticker h1{
	font-size:12px;
	color:#0066FF;
	margin-bottom:-10px;
}

#ticker_02 {
	height: 285px;
}

.ticker li {
	height: 82px;
	border-bottom: 1px dotted #DDD;
	padding: 5px;
	margin: 0px 5px;
}

/****Read More****/
.read-more{
	display:block;
}
.read-more a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#0066FF;
	text-align:left;
	text-decoration:underline;
}
.read-more a:hover{
	color:#FF6600;
}

/****AOAC Logo****/
#aoac-logo{
	width:100%;
	height:120px;
	margin-top:15px;
	text-align:center;
}


#preface {
margin: 20px;
font-size:1.2em;
color:#fff;
display:block;
float:left;
}

#preface .contextual-links a{
text-decoration:none;
}

#preface .block-title {
margin-top:20px;
}

#preface .region {
margin:20px 0;
}

#preface a {
color:#fff;
text-decoration:underline;
}

#preface a:hover {
text-decoration:none;
}

#slideshow-bottom{
width:950px;
float:left;
background:url(images/mission-bg.png) no-repeat center bottom;
min-height:65px;
position:absolute;
bottom:0;
left:0;
text-align:right;
z-index:3;
}

/* Preface first + Preface middle + Preface last regions
-------------------------------------------------------------- */

#preface-wrapper {
width:950px;
margin:5px auto 0;
}

#preface-wrapper .column {
float: left;
}

#preface-wrapper.in1 .column {
width: 100%;
}

#preface-wrapper.in2 .column {
width: 50%;
}

#preface-wrapper.in3 .column {
width: 33.3%;
}

#preface-wrapper .block {
margin: 0 15px;
}

#preface-wrapper .block-title {
margin-top:15px;
}

#preface-wrapper .region {
margin:15px 0;
}

#mission {
font-size:1.6em;
color:#002054;
display:block;
float:right;
line-height:1.2em;
}

#mission .contextual-links {
font-size: 84%;
}

#mission .block-title {
margin-top:20px;
}

#mission .region {
margin:20px;
}

/* Content regions
-------------------------------------------------------------- */
#page-wrapper{
	width:950px;
	height:auto;
	margin:0px auto;
}

#wrapper {
width:950px;
height:800px;
margin:0px auto;
background-color:#FFFFFF;
}

#innerpage-wrapper {
width:950px;
height:100%;
margin:0px auto;
padding-bottom:25px;
background-color:#FFFFFF;
}

#iframe-wrapper {
width:970px;
height:auto;
margin:0px auto;
background:none;;
}

#content {
width: 100%;
height:100%;
float: left;
background:#FFFFFF;
border-right:1px solid #cecece;
padding-right:20px;
}

/* Sidebar regions
-------------------------------------------------------------- */

#layout-type-1 #sidebar-left {
width: 26%;
float: left;
font-size:12px;	
}

#layout-type-2 #sidebar-left {
width: 21%;
float: left;
margin-right: 2%;
font-size:12px;	
}

.one-sidebar #content{
width: 69%;
margin-left: 25px;
float: left;
}

.two-sidebars #content{
width: 54%;
float: left;
}

#layout-type-1 #sidebar-right {
width: 26%;
float: right;
font-size:12px;	
/*border-left:1px solid #FF0000;*/      
}

#layout-type-2 #sidebar-right {
width: 21%;
float: right;
font-size:12px;	      
}

#sidebar-left h2.block-title,
#sidebar-right h2.block-title {
background:none;
margin:0;
margin-top: 25px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
font-size: 18px;
}


#sidebar-right .content {
padding: 5px 15px;
}
#sidebar-left .content{
padding: 5px 15px;
}

.sidebar .block {
background-color: none;
/*border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;*/
margin:0px 0px 0px -10px;
}

.sidebar tbody {
border: none;
}
.sidebar tr.even,
.sidebar tr.odd {
background: none;
}

/* Misc.
-------------------------------------------------------------- */

#help {
font-size: 0.9em;
margin-bottom: 1em;
}

.error {
border-color: red;
}

.terms {
background-repeat: no-repeat;
margin-left: 18px;
margin-bottom: 5px;
}

#notice {
font-size: 10px;
text-align:center;
margin-bottom: -10px;
}

table {
width:100%;
}

div.contextual-links-wrapper {
font-size:100%;
}

/* Nodes
-------------------------------------------------------------- */

#first-time {
margin-bottom:10px;
display:none;
}

.node {
/*border-bottom: 1px solid #bbb;*/
margin: 20px 0;
padding-bottom:15px;
}

.content-top{
border-bottom: 1px solid #bbb;
border-right: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
background-color: #f4f4f4;
margin:0 0 20px;
}

.content-top .block-title {
margin-top:15px;
}

.content-top .region {
margin:15px;
}

.content-middle .block-system {
margin:0;
}

.content-middle .block-block {
margin:0;
}

.content-middle .block-block .block-title{
margin-top:15px;
}

.content-middle .block-block .content {
margin:15px 0;
}

.content-bottom {
border-bottom: 1px solid #bbb;
border-right: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
background-color: #f4f4f4;
margin:20px 0 0;
}

.content-bottom .block-title {
margin-top:15px;
}

.content-bottom .region {
margin:15px;
}

.title, .title a {
margin: 0 auto;
line-height: 1.2em;
color:#FF6600;
padding-top:10px;
}

.node .content, .comment .content {
margin: .5em 0 .5em;
}

.node .taxonomy {
color: #999;
font-size: 0.9em;
padding-left: 1em;
}

.node .user-picture, .comment .user-picture {
float: right;
margin-left: 10px;
}

.node .user-picture img, .comment .user-picture img {
width:60px;
}

.node-book .links {
padding-top:5px;
}

.preview .node, .preview .comment{
background-color: #f4f4f4;;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
padding: 0.8em;
}

.submitted {
font-size: 0.9em;
color: #999;
}

.submitted a:hover {
text-decoration: underline;
}

.node-sticky {
padding: 1em;
background-color: #f4f4f4;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
margin:0;
}

.messages {
background-color: #f4f4f4;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
padding: 0.3em;
margin-bottom: 1em;
}

.breadcrumb {
background-color: #f4f4f4;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
margin-bottom: 1em;
padding: 0.3em 10px;
}

.field-type-taxonomy-term-reference .field-label, .field-type-taxonomy-term-reference .field-items, .field-type-taxonomy-term-reference .field-item {
display:inline;
float:left;
font-weight:normal;
padding-right:10px;
}

/* Comments
-------------------------------------------------------------- */

.comment {
background-color: #f4f4f4;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
padding: 1em;
margin: 1em 0;
}

.comment .title {
line-height: 1.2em;
}

.comment .new {
text-align: right;
font-weight: normal;
float: right;
color: red;
margin:.5em;
}

/* Aggregator
-------------------------------------------------------------- */

.feed-item-body {
border-bottom: 1px solid #bbb;
padding-bottom: 1em;
}

#aggregator .feed-source {
background-color: #f4f4f4;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
padding: 0.8em;
}

#aggregator h1 .title{
border-bottom: 1px solid #bbb;
}

#aggregator h2 {
padding-top: 10px;
}

#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
color: #999;
font-style: italic;
}

.feed-item-title {
font-size: 1.4em;
}

#aggregator h3 a:hover {
text-decoration: none;
}

.feed-item-meta .feed-item-source {
font-size: 0.9em;
}

.feed-item-meta .feed-item-date {
font-size: 0.9em;
color: #999;
}

/* Forums
-------------------------------------------------------------- */

#forum table {
width: 100%;
}

#forum td {
padding: 0.5em;
}

#forum td.container {
background-color: #e6e6e6;
}

#forum ul.links a {
background-repeat: no-repeat;
padding-left: 20px;
padding-bottom: 5px;
}

#forum ul.links li.forum a {
background-image:url(images/post.gif);
}

#forum ul.links li.login a {
background-image:url(images/lock.gif);
}

#forum td.statistics, #forum td.settings, #forum td.pager {
height: 1em;
border: 1px solid #bbb;
}

#forum td .links {
padding-top: 0.7em;
}

.block-forum h3 {
margin-bottom: .5em;
}

dl dd {
margin: 0 0 .5em 1em;
}

tr.odd {
background-color:#f4f4f4;
}

tr.even {
background-color:#fcfcfc;
}

th {
text-align:left;
background: #E6E6E6;
}

tr td, tr th {
border:1px solid #bbb;
padding: 0 6px;
}

/* Tracker + Profile
-------------------------------------------------------------- */

#tracker table {
width: 100%;
}

#tracker td {
padding: 0.5em;
}

.profile {
clear: both;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
padding: .8em;
margin: 1em 0em;
background-color: #f4f4f4;;
}

.profile h3 {
margin-bottom:10px;
}

/* Admin
-------------------------------------------------------------- */

div.admin-panel .body {
background: #f4f4f4;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
}

div.admin-panel h3 {
background-color: #e6e6e6;;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
padding: 5px 8px 5px;
margin: 0;
}

div.admin {
padding-top: 0;
}

div.admin .left,
div.admin .right {
margin-left: 1%;
margin-right: 1%;
}

/* Poll
-------------------------------------------------------------- */

.poll .bar {
background: #fff url(images/bg-bar-white.png) repeat-x 0 0;
border: solid #f0f0f0;
border-width: 1px 1px 1px;
}

.poll .bar .foreground {
background: #71a7cc url(images/bg-bar.png) repeat-x 0 100%;
}

/* Lists + Links + Pager
-------------------------------------------------------------- */

ul, .block ul, ol {
margin: 0.5em 0 1em;
padding: 0 0 0 1.5em;
}

ul, ul li.leaf {
list-style-image: url(images/menu-leaf.gif);
}

ol {
  list-style-image: none;
}

ul.menu, .item-list ul {
margin: 20px 0px 0px 10px;
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
margin: 0.15em 0 0.15em .5em;
padding-bottom: .1em;
}

ul li.expanded {
list-style-image: url(images/menu-expanded.gif);
}

ul li.collapsed {
list-style-image: url(images/menu-collapsed.gif); /* LTR */
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
display: block;
}

ul.inline li {
background: none;
margin: 0;
padding: 0 1em 0 0;
}

ol.task-list {
margin-left: 0;
list-style-type: none;
list-style-image: none;
}

ol.task-list li {
padding: 0.5em 1em 0.5em 2em;
}

ol.task-list li.active {
background: transparent url(images/task-list.png) no-repeat 3px 50%;
}

ol.task-list li.done {
color: #393;
background: transparent url(../../misc/watchdog-ok.png) no-repeat 0px 50%;
}

ol.task-list li.active {
margin-right: 1em;
}

fieldset ul.clearfix li {
margin: 0;
padding: 0;
background-image: none;
}

#user-login-form {
text-align: center;
margin-top:0px;
margin-left:20px;
}

#user-login-form ul {
text-align: left;
}

ul.links li, ul.inline li {
background-image: none;
}

.form-item, form-type-textfield, form-item-name{
	text-align:left;
	margin-left:20px;
}
.form-actions, form-wrapper{
	text-align:left;
	margin-left:20px;
}
/*#edit-submitted-name{
	margin-left:13px;
}
#edit-submitted-email{
	margin-left:14px;
}
#edit-submitted-position{
	margin-left:9px;
}*/
#edit-submitted-questions-comments{
	width:300px;
}

.links li {
margin: 0;
padding: 0;
}

.tabs li {
margin: 0;
padding: 0;
background-image: none;
}

li.expanded {
list-style-image:none;
list-style-type:none;
margin:0.15em 0 0.15em 0.5em;
}

div.links ul.links a {
background-repeat: no-repeat;
padding-left: 20px;
}

div.comment ul.links a {
background-repeat: no-repeat;
padding-left: 20px;
}

div.links ul.links li.comment_forbidden a {
padding:0;
margin:0;
}

div.links ul.links li.comment_forbidden {
padding:0;
margin:0;
}

div.comment ul.links li.comment_forbidden a {
padding:0;
margin:0;
}

div.comment ul.links li.comment_forbidden {
padding:0;
margin:0;
}

div.links ul.links li.comment_forbidden span {
background-repeat: no-repeat;
padding-left: 20px;
padding-right:20px;
}

div.comment ul.links li.comment_forbidden span {
background-repeat: no-repeat;
padding-left: 20px;
padding-right:20px;
}

div.links ul.links li.comment-add a {
background-image: url(images/commentadd.gif);
}

div.links ul.links li.comment-comments a {
background-image: url(images/comments.gif);
}

div.links ul.links li.comment-new-comments a {
background-image: url(images/comments.gif);
}

div.comment ul.links li.comment-edit a {
background-image: url(images/commentedit.gif);
}

div.comment ul.links li.comment-delete a {
background-image: url(images/commentdelete.gif);
}

div.comment ul.links li.comment-reply a {
background-image: url(images/commentadd.gif);
}

div.links ul.links li.node-readmore a {
background-image: url(images/readmore.gif);
}

div.links ul.links li.blog_usernames_blog a {
background-image: url(images/user.gif);
}

div.links ul.links li.comment_forbidden span {
background-image:url(images/lock.gif);
}

div.comment ul.links li.comment_forbidden span {
background-image:url(images/lock.gif);
}

div.links ul.links li.upload_attachments a {
background-image: url(images/photo.gif);
}

div.links ul.links li.book_printer a{
background-image:url(images/print.gif);
}

div.links ul.links li.book_add_child a{
background-image:url(images/add.gif);
}

ul.pager li.pager-current {
background-color:#005a8c;
color:#FFFFFF;
padding-left:4px;
padding-right:4px;
padding-top:1px;
padding-bottom:1px;
}

.item-list .pager li {
padding:0px;
}

.item-list .pager li a{
padding-left:4px;
padding-right:4px;
padding-top:1px;
padding-bottom:1px;
background-color: #f4f4f4;;
}

.item-list .pager li a:hover {
background-color:#005a8c;
color:#FFFFFF;
}

ul.links li,
ul.inline li {
margin-left: 20px;
margin-right: 0;
padding-left: 0;
padding-right: 1em;
background-image: none;
}

.node .links,
.comment .links {
text-align: left;
padding-left: 0;
padding-top:5px;
}

ul.primary li a {
background-color:#f4f4f4;
border-color:#ccc;
border-style:solid solid none;
border-width:1px;
height:auto;
margin-right:0.5em;
padding:0 1em;
text-decoration:none;
}

.book-navigation .menu {
border-top:1px solid #bbb;
margin:0;
padding:10px 20px;
}

.book-navigation .page-links {
border-bottom:1px solid #bbb;
border-top:1px solid #bbb;
padding:0.5em;
text-align:center;
}

.filter-wrapper {
border:1px solid #bbb;
border-top:none;
}

.search-advanced {
border:1px solid #bbb;
}

.compose-tips {
margin-top:10px;
}


/* Login + Register + RSS
-------------------------------------------------------------- */

#authorize { 
float: right;
margin: 5px 10px 0;
padding:5px 0px 5px 0px;
/*background:url(http://micro-identification.mozwyre.com/sites/all/themes/danland/images/authorize-bg.png) 0 0 repeat-x;*/
}

#authorize ul { 
display: inline;
}

#authorize ul li { 
margin: 0 20px 0 0; 
padding: 0 0px 0 10px; 
display: inline; 
list-style: none;  
border-left: 1px #0066FF; solid;
background-image: none;
}

#authorize ul li.first { 
border: 0;
}

#authorize ul li, #authorize ul li a { 
font-size: 14px;
font-weight:bold;
color:#FFF;
line-height: 13px; 
}
#authorize ul li, #authorize ul li a:hover {
	color:#FF6600;
}

.feed-wrapper {
float:right;
margin-top:7px;
margin-right:20px;
}

/* Bottom teaser
-------------------------------------------------------------- */

#bottom-teaser {
width:950px;
margin: 15px auto 0;
}

#bottom-teaser .column {
float: left;
}

#bottom-teaser.in1 .column {
width: 100%;
}

#bottom-teaser.in2 .column {
width: 50%;
}

#bottom-teaser.in3 .column {
width: 33.3%;
}

#bottom-teaser .block {
margin: 0 15px;
}

#bottom-teaser .block-title {
margin-top:15px;
}

#bottom-teaser .region {
margin:15px 0;
}


/* Bottom region
-------------------------------------------------------------- */

#bottom-wrapper {
background-color: #f4f4f4;;
border-right: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
margin: 20px auto 0;
text-align: left;
width: 950px;
position: relative;
}

#bottom-wrapper .column {
float: left;
}

#bottom-wrapper.in1 .column {
width: 100%;
}

#bottom-wrapper.in2 .column {
width: 50%;
}

#bottom-wrapper.in3 .column {
width: 33.3%;
}

#bottom-wrapper.in4 .column {
width: 25%;
}

#bottom-wrapper .block {
margin:0 15px;
}

#bottom-wrapper .block-title {
margin-top:15px;
font-size: 1.3em;
}

#bottom-wrapper .region {
margin:15px 0;
}

/* Footer region
-------------------------------------------------------------- */

#footer-wrapper {
width:100%;
height:100%;
background:#000000;
}

#footer{
width: 950px;
height:60px;
margin:0px auto;
}
.footer-nav {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#CCC;
	float:right;	
	margin-top:15px;
}
.footer-nav a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#CCC;
	text-align:right;
	text-decoration:none;
	padding:0px 30px 0px 0px;
}
.footer-nav a:hover{
	color:#FF6600;
	text-decoration:underline;
}

#footer .block-title {
margin-top:15px;
}

#footer .region {
margin:15px 0;
}

/* Secondary menu
-------------------------------------------------------------- */

#subnav {
font-size: 12px;
}

#subnav li {
}

#subnav li a {
font-weight:normal;
}

#subnav li a:hover {
color: #cc6600;
}

#subnav-wrapper {
text-align:right;
}

#subnav-wrapper ul { 
display: inline;
}

#subnav-wrapper ul li {  
display: inline; 
list-style: none;  
background-image: none;
padding-left: 5px;
}

#subnav-wrapper ul li,#subnav-wrapper ul li a { 
font-size: 12px; 
line-height: 13px; 
}

/* Overlay
-------------------------------------------------------------- */

.overlay #header, .overlay #menu, .overlay .block-block, .overlay #bottom-teaser, .overlay #bottom-wrapper, .overlay #footer-wrapper {
display:none;
}

.overlay #wrapper {
width:98%;
}

.theme-info ul {
list-style-image:none;
}

/****Flyer****/



#flyer-wrapper{
	width:650px;
	height:auto;
	float:left;
	/*border:1px solid #00FF00;*/
}
#flyer-header{
	width:100%;
	height:65px;
}
#flyer-column-left{
 	width:160px;
	height:auto;
	float:left;
	background:#005da1;
}
#flyer-column-center{
	width:244px;
	height:auto;
	float:left;
	border-right:1px solid #CCCCCC;
}
#flyer-column-right{
	width:245px;
	height:800px;
	float:left;
}
.flyer-txt-left{
	display:block;
	padding:10px 5px 0px 5px;
}
.flyer-txt-left{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	text-align:left;
	text-decoration:none;
}
.flyer-txt-left a{
	color:#FFFFFF;
	text-decoration:underline;
}
.flyer-txt-left a:hover{
	color:#FF6600;
}
.flyer-txt-left h1{
	font-size:13px;
	font-weight:bold;
	margin-top:-10px;
}
.flyer-txt-left li{
	margin-left:0px;
	line-height:18px;
}
.flyer-txt{
	display:block;
	padding:5px 8px 0px 8px;
}
.flyer-txt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	text-align:left;
	text-decoration:none;
}
.flyer-txt h1{
	font-size:18px;
	font-weight:bold;
	color:#ff6600;
	text-align:center;
}
.flyer-txt h2{
	font-size:16px;
	font-weight:bold;
	color:#333;
	text-align:center;
	margin-top:-8px;
}
#flyer-img1{
	width:204px;
	height:auto;
	float:left;
	margin:5px 0px 0px 18px;
	border:1px solid #999999;
}

/****Shopping Cart****/

.node-product, node-teaser{
	background:url(http://micro-identification.mozwyre.com/sites/all/themes/danland/images/product-bg.png) 0 0 repeat-x;
	border:1px solid #CCCCCC;
}

/*.field-name-uc-product-image{
	margin-left:20px;
}
.product-info, model{
	margin-left:20px;
}*/
.product-txt{
	display:block;
	width:auto;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	text-align:left;
	line-height:18px;
	padding-left:20px;
}
.product-info, sell-price{
	padding:0px 0px 0px 20px;
}
.field-name-uc-product-image, field-type-image, field-label-above{
	padding-left:20px;
}
.field-label{
	display:none;
}

/*.product-txt h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#ff6600;
	line-height:40px;
}

.product-txt h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#fe6601;
	margin:15px 0px 15px 0px;
	line-height:30px;
}

.product-txt h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#333;
	margin:20px 0px 20px 0px;
	line-height:24px;
}*/

.feed-icon{
	display:none;
}
.blog_username_blog, last a{
	display:none;
}
