/************ Basic Styles for External Iframe ************/

#external, html, body.toolbar {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background: #fff;
}
#external table, #external tr, #external td {
  margin: 0;
  padding: 0;
  width: 100%;
}
#external ul {
  margin: 0 0 3px 0;
  padding-left: 0.75em;
}
#external li {
  display: inline;
}
#external li a {
  font-size: 0.75em;
  text-decoration: none;
  padding: 0 0.5em;
  color: #5382a1;
  border-right: 1px solid #ccc; 
}
#external div.logo {
  padding-top: 3px;
  padding-left: 0.7em;
  border-bottom: 1px solid #ccc;
}
#external .logo a {
  display: block;
}
#external img {
  border: none;
}
#external body {
  margin: 0;
  font-family: "Myriad Pro",Myriad,Helvetica,Geneva,Verdana,"DejaVu Sans",sans-serif;
}
#external .hide-toolbar {
  font-size: 0.75em;
  color: #ccc;
  position: absolute;
  text-align: right;
  right: 9px;
  top: 1px;
}

#external .hide-toolbar a {
  color: #ccc;
}
#external .hide-toolbar a:hover {
  color: #aaa;
}
#external .hide-toolbar span:hover {
  color: #ccc;
}
#external #external-iframe-share-button {
  float: right;
  z-index: 999;
  margin-top: -40px;
}
#external #external-site-container {
  height:100%;
  width: 100%;
  position: absolute;
}
#external iframe#external-site {
  border: none;
  width: 100%;
  margin-top: 0;
  position: absolute;
}
#external #external-container {
  width: 100%;
}
#external #admin-menu, #external .dev-query, #external .devel-querylog, #toolbar {
  display: none;
}

body.admin-menu {
  margin-top: 0 !important;
}

