body{
	background:#FFF;
	font-size:16px;
}

#page {
	background:#FFF;
}

img{
	max-width:100%;
	height:auto;
}

.breadcrumb{
	display:none;
}

h1, h2{
	color:#2C2C16;
}

/********************User**************************/

#zone-user-wrapper {
	background-color: #000; 		
}

#zone-user {
	background-color: #0000FF;
}

#region-user-first {
	background-color: #A3A3CC;
}

#region-user-second {
	background-color: #C8C8E0;
}

/********************Branding**************************/

#zone-branding-wrapper {
	background:none;
}

#zone-branding {
	/*background:#cecece;*/
	background:url(../images/header-bg.gif) 0 0 repeat-x;
}

#region-branding {
	height:125px;
	/*background:url(../images/header-bg.gif) 0 0 repeat-x;*/
}

#social-top-container{
	width:auto; 
	height:auto; 
	float:right; 
	margin:25px 20px 0px 0px;
	/*border:1px solid #FFFF00*/
}

#icons-container{
	float:right;
	margin-top:0px
}

#icons{
	float:right;
	margin-right:20px;
}

/********************Menu**************************/

#zone-menu-wrapper {
	background:url(http://micro-identification.com/sites/default/files/menu-bg.png) 0 0 repeat-x;
	height:50px;	
	z-index:10;
	position:absolute;
	width:100%;
}

#zone-menu{
	background:none; 
}

#region-menu {
	background-color:none;
	height:auto;
}
.region-menu-inner{
	height:auto;
}
.block-superfish{
	height:40px;
}
.sf-menu{
	font-size:15px;
}

.sf-menu.sf-style-default a {
	font-weight:normal;
  border-top: none;
  padding: 0.79em 1.8em;
}

.menu{
	display:inline;
}

ul li.leaf{s
	list-style-image:none;
	list-style-type:none;
	list-style:none;
	display:inline-block;
}

ul li.leaf a{
	display:inline-block;
	color:#333333;
	background-color:none;
	padding:6px 15px;
}

ul li.leaf a{
	text-decoration:none;
}

ul li.leaf a:hover{
	background-color:#F8F8F8;
}

/********************Header**************************/

#zone-header-wrapper {
	background:#000;
	max-height:100px;
}

#zone-header {
	background:none;
	max-height:100px;
}

#region-header-first {
	background-color:#000;
	background:url(http://micro-identification.com/sites/default/files/header-bg.png) 0 0 no-repeat;
	background-position:right;
	/*max-height:100px;*/
}

#region-header-second { 
	background-color:none;
}

#swf-container{
	width:576px;
	height:100px;
}

/********************Preface**************************/

#zone-preface-wrapper {
	background:url(http://micro-identification.com/sites/default/files/page-bg.png);
	background-color:#f8f8f3;
	padding-top:55px;
}

#zone-preface {
	background-color:none;
}

#region-preface-first {
	background-color:none;
}

#region-preface-second {
	background-color:none;
}

#region-preface-third {
	background-color:none;
}

/********************Content Slider**************************/

#zone-content-slider-wrapper {	
	background:url(http://micro-identification.com/sites/default/files/page-bg.png);
	background-color:#f8f8f3;
	padding-top:50px;
	padding-bottom:10px;
}

#zone-content-slider {
	background:none;
}

#region-content-slider {
	background-color: none;
}

/********************Content**************************/

#zone-content-wrapper {	
	background:url(http://micro-identification.com/sites/default/files/page-bg.png);
	background-color:#f8f8f3;
	padding-top:55px;
	padding-bottom:10px;
}

#zone-content {
	background-color: #FFF;
	padding:29px 0px 30px 0px;
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
	box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
}

#region-content {
	background-color:none;
}

#breadcrumb {
	background-color: #3333FF;
}

#messages {
	background-color: #66FF66;
	display:none;
}

/****************Support***********************/

#support-link-container{
 width:99%;
 height:auto;
 border-top:1px solid #CCCCCC;
 border-left:1px solid #CCCCCC;
 border-right:1px solid #CCCCCC;
}
#support-link-1{
	width:50%;
	height:36px;
	float:left;
	text-align:center;
	padding:8px 0px 4px 0px;
	background-color:#F8F8F8;
	border-bottom:1px solid #CCCCCC;
}
#support-link-2{
	width:50%;
	height:36px;
	float:left;
	text-align:center;
	padding:8px 0px 4px 0px;
	background-color:#FFF;
	border-bottom:1px solid #CCCCCC;
}
/*.support-link a{
	text-align:center;
	padding-top:5px;
}*/
h2.block-title{
	padding:10px 0px 10px 25px;
	font-size:24px;
}
#block-views-media-page-block-1{
	padding-left:10px;
}

table{
	border:none;
}

.video{
	display:inline-block;
}

/*.views-row, views-row-1, views-row-odd views-row-first{
	width:33%;
	display:inline-block;
}

.views-row, views-row-2, views-row-even{
	width:33%;
	display:inline-block;
}

.views-row, views-row-3, views-row-odd{
	width:33%;
	display:inline-block;
}

.views-row, views-row-4 views-row-even, views-row-last{
	width:33%;
	display:inline-block;
}*/

#node-youtube-video-31{
	width:33%;
	display:inline-block;
}

#node-youtube-video-32{
	width:33%;
	display:inline-block;
}

#node-youtube-video-33{
	width:33%;
	display:inline-block;
}

#node-youtube-video-34{
	width:33%;
	display:inline-block;
}

.video-row{
	display:inline;
}


/**************Slideshow***************/

@media (min-width: 1200px) {
#views_slideshow_controls_text_previous_slideshow_view-block{
	width:60px;
	height:0px;
	padding-top:60px; 
	background:url(http://micro-identification.com/sites/default/files/arrow-forward.png);
	position:absolute;
	top:200px;
	left:-90px;
	z-index:500;
	overflow:hidden; 
}}

@media (min-width: 1200px) {
#views_slideshow_controls_text_next_slideshow_view-block{
	width:60px;
	height:0px;
	padding-top:60px; 
	background:url(http://micro-identification.com/sites/default/files/arrow-back.png);
	position:absolute;
	top:200px;
	left:1210px;
	z-index:999;
	overflow:hidden; 
}}

@media (max-width: 992px) {
#views_slideshow_controls_text_previous_slideshow_view-block{
	width:60px;
	height:0px;
	padding-top:60px; 
	background:url(http://micro-identification.com/sites/default/files/arrow-forward.png);
	position:absolute;
	top:200px;
	left:-90px;
	z-index:500;
	overflow:hidden; 
}}

@media (max-width: 992px) {
#views_slideshow_controls_text_next_slideshow_view-block{
	width:60px;
	height:0px;
	padding-top:60px; 
	background:url(http://micro-identification.com/sites/default/files/arrow-back.png);
	position:absolute;
	top:200px;
	left:1210px;
	z-index:999;
	overflow:hidden; 
}}

@media (max-width: 760px) {
#views_slideshow_controls_text_previous_slideshow_view-block{
	display:none; 
}}

@media (max-width: 760px) {
#views_slideshow_controls_text_next_slideshow_view-block{
	display:none; 
}}

#views_slideshow_controls_text_pause_slideshow_view-block {   
	display:none; 
}

/*******************Media*************************/

#block-views-media-page-block-1{
	text-align:left;
}

#node-page-9{
	text-align:left;
}

/********************Sidebars**************************/

#region-sidebar-first {
	text-align:center;
	padding:15px 0px 15px 0px;
}

#region-sidebar-second {
	text-align:center;
	padding:0px 0px 15px 0px;
}

/**********************Side Links************************/

#sidelinks-container{
	width:auto;
	height:auto;
	padding:10px 0px 0px 10px;
	/*margin:10px 0px 0px 10px;*/
}

.sidelinks a{
	width:100%;
	display:block;
	font-size:16px;
	padding-top:10px;
	padding-bottom:10px;
	background:#FFF;
	text-decoration:none;
	color:#333333;
}

.sidelinks a:hover{
	background:#F5F5F5;
}

/*.sidelinks a:visited{
	background:#FFF;
	text-decoration:none;
	color:#333333;
}*/

/********************Postscript**************************/

#zone-postscript-wrapper {
	background:url(http://micro-identification.com/sites/default/files/postscript-bg-2.png);
	padding-top:15px;
	padding-bottom:25px;
}

#zone-postscript {
	background-color:#FFF;
}

#region-postscript-first {
	background:url(http://micro-identification.com/sites/default/files/ps-title-foodsafetynews.png);
	background-position-y:10px;
	background-repeat:no-repeat;
	background-color:#FFF;
	padding:15px 0px 10px 0px;
	min-height:525px;
}

#region-postscript-second {
	background:url(http://micro-identification.com/sites/default/files/ps-title-mitnews.png);
	background-position-y:10px;
	background-repeat:no-repeat;
	background-color:#FFF;
	min-height:525px;
	padding:15px 0px 10px 0px;
}

#region-postscript-third {
	background-color:#FFF;
	padding:10px 0px 10px 0px;
	min-height:525px;
}

#region-postscript-fourth {
	background:url(http://micro-identification.com/sites/default/files/ps-title-connect.png);
	background-position-y:10px;
	background-repeat:no-repeat;
	background-color:#FFF;
	padding:10px 0px 10px 0px;
	min-height:525px;
}
#postscript-container{
	width:100%;
	height:auto;
	float:left;
	margin:10px 0px 0px 10px;
	/*border:1px solid #FF0000;*/
}
#postscript-txt-container{
	display:block;
	width:85%;
	height:auto;
	float:left;
	margin-top:5px;
	padding:0px 15px 0px 15px;
	/*border:1px solid #FF0000;*/
}
#postscript-img{
	width:197px;
	height:79px;
	float:left;
	margin:15px 0px 10px 29px;
	/*border:1px solid #00FF00;*/
}
#social-media-connect{
	width:100%;
	height:auto;
	margin:75px 0px 0px 10px;
}
#social-icons{
	width:auto;
	height:auto;
	padding:10px 0px 10px 0px;
}

/*********************Contact***********************/

#node-webform-43{
	width:95%;
	padding-left:20px;
}

/********************Footer**************************/

#zone-footer-wrapper {
	background-color: #333;
}

#zone-footer {
	background-color: #333;
}

#region-footer-first {
	background-color: #333;
	margin-top:10px;
}

#region-footer-second {
	background-color: #669900;
}

#footer-column-left{
	width:245px;
	height:150px;
	float:left;
	/*border:1px solid #CCCCCC;*/
}

#footer-column-right{
	width:905px;
	height:150px;
	float:left;
	margin-left:10px;
	/*border:1px solid #CCCCCC;*/
}

.footer-txt{
	font-size:11px;
	color:#0062A0;
	text-align:left;
}

.footer-txt a{
	color:#0062A0;
	text-decoration:none;
}

.footer-txt a:hover{
	color:#0066FF;
}

.footer-txt li{
	margin-left:20px;
}

/********************Text**************************/

.block-txt{
	display:block;
	line-height:20px;
	/*float:left;
	margin:5px 0px 0px 10px;
	padding:10px 10px 0px 10px;*/
}

.block-txt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333333;
	text-align:left;
}

.block-txt h1{
	font-size:28px;
	color:#fe7d01;
	font-weight:bold;
	margin-bottom:15px;
}

.block-txt h2{ 
	font-size:14px;
	color:#fe7d01;
	font-weight:bold;
	margin:0px;
}

.block-txt h3{
	font-size:18px;
	color:#0071bc;
	font-weight:bold;
	margin:0px;
} 

h2.node-title{
	font-size:22px;
}

#innerpage-img{
	max-width:100%;
}

.innerpage-txt{
	display:block;
	padding:20px 30px 20px 30px;
}

.innerpage-txt{
	font-size:16px;
}

h2.node-title{
	font-size:22px;
}

/************Overwrite*****************/
button, input[title="MIT to attend 2013 IAFP Annual Meeting"] {
	width: 100px;
  height: 44px;
  text-indent: -99999px;
  background: url(http://micro-identification.com/sites/default/files/btn-readmore.png) 0 0 no-repeat;
  border: none;
	cursor:pointer;
}

#first-time {
  display: none;
}

#page-title{
	margin-left:15px;
}

.views-field-title{
	display: none;
}

.views-field-view-node{
	display: none;
}

#twtr-widget-1 .twtr-timeline {
	background:none;
}

.container-inline{
	text-align:right;
	padding:65px 20px 0px 0px;
}

#block-views-slider-block{
	margin-top:20px;
	margin-bottom:-20px;
}

.node-blog, node-teaser{
	margin-top:65px;
	padding:0px 15px 0px 15px;
}

a:link{
	color:#4e8605;
}

.node-food-safety-news{
	width:85%;
	margin:75px 0px 0px 20px;
}

.slides{
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
	box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
}

li.comment_forbidden.last{
	display:none;
}
.field.field-name-field-blog-image.field-type-image.field-label-hidden{
	padding-bottom:10px;
}