/**********************Side Links************************/

#sidelinks-container{
	width:auto;
	height:auto;
	padding:10px 0px 0px 10px;
	/*margin:10px 0px 0px 10px;*/
}
/*.sidelinks{
	display:block;
}*/
.sidelinks a{
	width:100%;
	display:block;
	font-size:16px;
	padding-top:10px;
	padding-bottom:10px;
	background:#FFF;
	text-decoration:none;
	color:#333333;
}

.sidelinks a:hover{
	background:#F5F5F5;
}

/********************Menu**************************/

#zone-menu-wrapper {
	background:url(http://micro-identification.com/sites/default/files/menu-bg.png) 0 0 repeat-x;
	height:50px;	
	z-index:10;
	position:absolute;
	width:100%;
}

#zone-menu{
	background:none; 
}

#region-menu {
	background-color:none;
	height:auto;
}
.region-menu-inner{
	height:auto;
}
.block-superfish{
	height:40px;
}
.sf-menu{
	font-size:15px;
}

.sf-menu.sf-style-default a {
	font-weight:normal;
  border-top: none;
  padding: 0.79em 1.8em;
}

.menu{
	display:inline;
}

ul li.leaf{s
	list-style-image:none;
	list-style-type:none;
	list-style:none;
	display:inline-block;
}

ul li.leaf a{
	display:inline-block;
	color:#333333;
	background-color:none;
	padding:6px 15px;
}

ul li.leaf a{
	text-decoration:none;
}

ul li.leaf a:hover{
	background-color:#F8F8F8;
}
