/**********************Side Links************************/

#sidelinks-container{
	width:auto;
	height:auto;
	padding:10px 0px 0px 10px;
	/*margin:10px 0px 0px 10px;*/
}
/*.sidelinks{
	display:block;
}*/
.sidelinks a{
	width:100%;
	display:block;
	font-size:16px;
	padding-top:10px;
	padding-bottom:10px;
	background:#FFF;
	text-decoration:none;
	color:#333333;
}

.sidelinks a:hover{
	background:#F5F5F5;
}

/********************Menu**************************/

/*#zone-menu-wrapper {
	display:none;
}

#zone-menu{
	display:none;
}

#region-menu {
	display:none;
}*/